body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2859px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5436_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1347px;
  height:556px;
}
#u5436 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:10px;
  width:1347px;
  height:556px;
}
#u5436_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5437_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1376px;
  height:556px;
}
#u5437 {
  border-width:0px;
  position:absolute;
  left:1483px;
  top:10px;
  width:1376px;
  height:556px;
}
#u5437_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
