body {
  margin:0px;
  background-color:rgba(204, 204, 204, 0.317647058823529);
  background-image:none;
  position:static;
  left:auto;
  width:4503px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5108_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1357px;
  height:650px;
}
#u5108 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:10px;
  width:1357px;
  height:650px;
}
#u5108_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5109_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1484px;
  height:692px;
}
#u5109 {
  border-width:0px;
  position:absolute;
  left:1542px;
  top:10px;
  width:1484px;
  height:692px;
}
#u5109_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5110_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1307px;
  height:855px;
}
#u5110 {
  border-width:0px;
  position:absolute;
  left:3196px;
  top:10px;
  width:1307px;
  height:855px;
}
#u5110_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
