.ax_default {
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#333333;
  text-align:center;
  line-height:normal;
}
.box_1 {
}
.placeholder {
}
.button {
}
._形状 {
}
._图片 {
}
._一级标题 {
  font-family:'Arial Normal', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:32px;
  text-align:left;
}
._二级标题 {
  font-family:'Arial Normal', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:24px;
  text-align:left;
}
._三级标题 {
  font-family:'Arial Normal', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:18px;
  text-align:left;
}
._四级标题 {
  font-family:'Arial Normal', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
._五级标题 {
  font-family:'Arial Normal', 'Arial';
  font-weight:bold;
  font-style:normal;
  text-align:left;
}
._六级标题 {
  font-family:'Arial Normal', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:10px;
  text-align:left;
}
.label {
  font-size:14px;
  text-align:left;
}
.text_link {
  color:#0000FF;
}
._文本段落 {
  text-align:left;
}
._流程形状 {
}
._连接线 {
}
.sticky_1 {
  text-align:left;
}
.sticky_2 {
  text-align:left;
}
.sticky_3 {
  text-align:left;
}
.marker {
  color:#FFFFFF;
}
.line {
}
.flow_shape {
}
.box_2 {
}
.box_3 {
}
._图片1 {
}
.ellipse {
}
.primary_button {
  color:#FFFFFF;
}
.icon {
}
.blockquote {
  font-family:'Helvetica Neue Regular', 'Helvetica Neue';
  font-weight:200;
  font-style:normal;
  font-size:18px;
  color:#000000;
  line-height:22px;
}
.form_text_field {
  font-family:'Helvetica Neue Regular', 'Helvetica Neue';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:20px;
}
._panel__panel-default__header_ {
  font-family:'Helvetica Neue Regular', 'Helvetica Neue';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#333333;
  line-height:20px;
}
.popover__panel_content {
  font-family:'Helvetica Neue Regular', 'Helvetica Neue';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#333333;
  line-height:20px;
}
._一级标题1 {
  font-family:'Helvetica Neue Bold', 'Helvetica Neue';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  text-align:left;
}
._水平线 {
}
._形状1 {
  font-family:'Helvetica Neue Regular', 'Helvetica Neue';
  font-weight:400;
  font-style:normal;
}
.image {
}
.box_21 {
}
._文本段落1 {
  text-align:left;
}
._二级标题1 {
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:24px;
  text-align:left;
}
._形状2 {
}
._图片2 {
  color:#000000;
}
._垂直线 {
}
._复选框 {
  text-align:left;
}
.box_11 {
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
.paragraph {
  text-align:left;
}
.text_area {
  color:#000000;
  text-align:left;
}
.paragraph1 {
  text-align:left;
}
.heading_1 {
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:32px;
  text-align:left;
}
.heading_2 {
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:24px;
  text-align:left;
}
.horizontal_line {
}
.shape {
}
.connector {
}
.image1 {
  color:#000000;
}
.vertical_line {
}
.checkbox {
  text-align:left;
}
.radio_button {
  text-align:left;
}
.tree_node {
  text-align:left;
}
.table {
}
.table_cell {
}
.iconfont {
  font-family:'iconfont Regular', 'iconfont';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#666666;
}
.droplist {
  color:#000000;
  text-align:left;
}
.checkbox1 {
  text-align:left;
}
.text_field {
  color:#000000;
  text-align:left;
}
.table_cell1 {
}
.primary_button1 {
  color:#FFFFFF;
}
.link_button {
  color:#169BD5;
}
.radio_button1 {
  text-align:left;
}
._表格 {
}
._单元格 {
}
.heading_21 {
  font-family:'Arial Normal', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:24px;
  text-align:left;
}
.text_link_mouse_over {
}
.text_link_mouse_down {
}
.html_button {
  text-align:center;
}
.box_4 {
  color:#FFFFFF;
}
._文本段落2 {
  font-family:'Arial Normal', 'Arial';
  font-weight:normal;
  font-style:normal;
  font-size:13px;
  color:#000000;
  text-align:left;
}
