body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:2859px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1802_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1347px;
  height:556px;
}
#u1802 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:10px;
  width:1347px;
  height:556px;
}
#u1802_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1803_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1376px;
  height:556px;
}
#u1803 {
  border-width:0px;
  position:absolute;
  left:1483px;
  top:10px;
  width:1376px;
  height:556px;
}
#u1803_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
